.image img {
    object-fit: contain;
    width: 100%;
    height: 500px;
}

.image {
    margin-bottom: 50px;
}

.cost h2 {
    color: #1890FF !important;
}

.rating {
    margin: 20px 0;
    display: flex;
}

.button {
    margin-top: 30px;
    margin-bottom: 100px;
}